.swiper {
	padding: 1rem .5rem!important;
}

.swiper-slide {
	width: 100%;
	background: transparent;
	height: fit-content;
	overflow: visible;


	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
} */

.swiper {
	width: 100%;
	height: fit-content;
	margin: 2rem auto 6rem;
}

.swiper-button-prev,
.swiper-button-next {
	display: none;
}
