/* new styles added */
.swiper-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.image-swiper-button-prev {
	left: -1rem;
}
.image-swiper-button-next {
	right: -1rem;
}
.swiper-button-disabled {
	opacity: 0.5;
}

.image-swiper-button-prev,
.image-swiper-button-next {
	font-size: 4rem;
	color: var(--orange-color);
	opacity: 0.5;
}


.slider-main:hover .image-swiper-button-prev,.slider-main:hover .image-swiper-button-next{
	opacity: 1;
}

.swiper:hover .image-swiper-button-prev,
.swiper:hover .image-swiper-button-next {
	opacity: 1;
}

