/* footer {
font-size: 2rem;
font-weight: 400;
line-height: 1.5;
text-align: left;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: transparent;
-webkit-text-size-adjust: none;
font-feature-settings: "liga" 0;
box-sizing: border-box;
display: block;
background-color: var(--black-color) ;
color: var(--white-color);
background: var(--gray-color);
} */

footer {
    padding: 2rem;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1.6rem;
    text-align: center;
}

footer span {
    color: var(--orange-color);
}