/* Card Styling */

/* Globals */

:root {
	--price-le: "free";
}

.card {
	background-color: transparent;
	padding: 1rem;
	border: 0.05rem solid var(--gray-color);
	box-shadow: 0rem 0.5rem 0.5rem var(--gray-color);
}

.card::before {
	content: var(--price-le);
	display: flex;
	width: 8rem;
	height: 3.5rem;
	background-color: var(--orange-color);
	position: absolute;
	top: 2rem;
	font-size: 1.4rem;
	font-weight: bold;
	justify-content: flex-start;
	align-items: center;
	color: var(--white-color);
	padding: 0 0 0 2rem;
	/* border-right-width: 5rem;
	border-right-color:  var(--orange-color);
	border-right-style: solid; */
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.card-img {
	aspect-ratio: 16/10;
	display: block;
	width: 100%;
	object-fit: cover;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	object-position: 50% 0%;
}

.card-content {
	padding: 2rem;
}

.card-header {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.card-text {
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	color: var(--gray-color);
	margin-right: 1rem;
}

.card-btn {
	display: block;
	width: 98%;
	padding: 1.5rem;
	font-size: 1.4rem;
	text-align: center;
	color: var(--white-color);
	background-color: var(--orange-color);
	border: none;
	border-radius: 0.5rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}


.buy-btn {
	width: 100%;
	padding: 1.5rem 1rem;
}
.card-hr {
	margin: 0 !important;
}

/* ////////////////////////////////////////////////////////////////////////////// */
