.swiper {
	padding: 1rem .5rem!important;
}

.swiper-slide {
	background: transparent;
	height: fit-content;
	overflow: visible;


	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper {
	width: 100%;
	height: fit-content;
	margin: 2rem auto 6rem;
}



